# IDEA Project files
Darwin/.classpath
Darwin/.idea
Darwin/.project
Darwin/.scala_dependencies
Darwin/DarwinCore.iml

# Libs
lib/

# SBT files
target/
lib_managed/
src_managed/
project/boot

# Files generated during run
Darwin/rules/

