# IDEA files
Darwin/.classpath
Darwin/.idea
Darwin/.project
Darwin/.scala_dependencies
Darwin/Darwin.iml
Darwin/out

# Libs
lib/

# SBT files
target/
lib_managed/
src_managed/
Darwin/project/boot/


# eMACS
TAGS
*~
.ropeproject

# Files generated during run
Darwin/rules/
Darwin/reports/

# Thesis
*.aux
*.bbl
*.log
main.pdf
*.blg
*.out
*.toc
