# OS X
.DS_Store

# IDEA files
.classpath
.idea
.project
.scala_dependencies
*.iml


# Libs
lib/

# SBT files
target/
lib_managed/
src_managed/
*/project/boot/


# eMACS
TAGS
*~
.ropeproject
Thesis/main.synctex.gz

# Files generated during run
Darwin/rules/
Darwin/reports/

# Lift
*.h2.db

# Thesis
*.aux
*.bbl
*.log
main.pdf
*.blg
*.out
*.toc

Experiment/results
Distribution.zip
Distribution
OneJar
Darwin/etc/gui_config.ini


